<div class="container" id = "home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4" >Alpha Blog</h1>
        <p>HI! If you're looking for an interesting and fun stories, then you got right there</p>
        <p>Feel free to sign in and add your own stories</p>
        <p class="lead">
            <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
        </p>
    </div>
</div>

